/*Colors and font*/
body{
	background: #F6F9FC;
	color: #425466;
	font-family: 'Lora', serif;
	font-size: 16px;
	font-weight: lighter;
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}

h1{
	color: ##425466;
    font-weight: 900;
    font-size: 30px;
}

h2{
	color: #9966FF;
    font-size: 20px;
    font-weight: 500;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #635BFF;
	font-weight: 500;
	font-size: 16px;
}
a:hover	{
	color: #0A2540;
}

/*Custome design*/
.container {
	width: 700px;
	margin: 40px auto;
}
.card-white {
	background: white;
	width: 700px;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 10px 35px rgba(0,0,0,.1);
	margin: 10px;
	text-align: center;
}
@media (max-width: 760px) {
	.card-white	{
		width: 600px;
	}
}
@media (max-width: 500px) {
	.card-white {
		width: 400px;
	}
}
#profile {
	width: 100px;
	border-radius: 50%;
}
.btn-blue {
	background-color: #635BFF
	color : white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue {
	background-color: #635BFF;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}